<form name="fields" id="fields" action="#">
<table>

    <tr>
        <td>
            Feed-ID:
        </td>
        <td>
            <input type="text" 
                class="readonly w400" 
                id="feed_id" 
                name="feed_id" 
                value="(:feed_id:)" 
                readonly="true" />
        </td>
    </tr>

    <tr>
        <td>
            URL:
        </td>
        <td>
            <input type="text" 
                class="w400" 
                id="feed_url" 
                name="feed_url" 
                value="(:feed_url:)" 
                onkeypress="$('savebutton').disabled = false;" />
        </td>
    </tr>

    <tr>
        <td>
            Series:
        </td>
        <td>
            <select type="text" 
                class="w400" 
                id="series_id" 
                name="series_id" 
                onchange="$('savebutton').disabled = false;" >
                    (:series_options:)
            </select>
        </td>
    </tr>

    <tr>
        <td>
            Feedtype:
        </td>
        <td>
            <select id="feedtype_id" 
                name="feedtype_id" 
                class="w400" 
                onchange="$('savebutton').disabled = false;">
                    (:feedtype_options:)
            </select>
        </td>
    </tr>

    <tr>
        <td>
            iTunes-status:
        </td>
        <td>
            <input id="itunes_status"
                type="text"
                name="itunes_status" 
                title="set this to 0 to disable this feed in iTunes"
                class="w400" 
                value="(:itunes_status:)"
                onkeyup="var val = parseInt( this.value ); this.value = Math.min( Math.abs( val ? val : 0 ), 255 );"
                onchange="$('savebutton').disabled = false;" />
        </td>
    </tr>

    <tr>
        <td></td>
        <td align="center">
            <input type="hidden" 
                id="old_series_id" 
                name="old_series_id"
                value="(:series_id:)" />
            <input type="button" id="savebutton" disabled="disabled" 
                onclick="feededitor.save()" value="save feed" />
        </td>
    </tr>
    
    <tr>
        <td />
        <td style="text-align: center; padding-bottom: 15px;" id="feed_response" />
    </tr>

    <tr>
        <td />
        <td style="text-align: center; padding-top: 15px; border-top: 1px solid grey;">
            <input type="button" id="deletebutton"
                onclick="feededitor.remove((:feed_id:), (:series_id:))" value="delete" />
        </td>
    </tr>
</table>
</form>
