<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
﻿<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de">
	<head>
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
		<title>virtUOS: Lernfunk-Admin-Interface</title>

		<script src="./js/imports/prototype.js" type="text/javascript"></script>
		<script src="./js/bin/lfadmin.js" type="text/javascript"></script>
		<link rel="stylesheet" href="./gfx/lfadmin.css" type="text/css" media="screen" />

		<!-- calendar components: -->
	<link rel="stylesheet" type="text/css" href="./js/imports/calendar/rich_calendar.css" />
	<script type="text/javascript" src="./js/imports/calendar/rich_calendar.js"></script>
	<script type="text/javascript" src="./js/imports/calendar/rc_lang_en.js"></script>
	</head>
	<body onload="try { init(); } catch (err) { alert(err); }">
		<table id="main_table" border="1">
			<tr style="height: 25px;">
				<td colspan="2">
					<a href="javascript:load_editor('academy');"	>Academies</a>
					<a href="javascript:load_editor('access');"	 >Access</a>
					<a href="javascript:load_editor('audience');"   >Audiences</a>
					<a href="javascript:load_editor('category');"   >Categories</a>
					<a href="javascript:load_editor('feeds');"	  >Feeds</a>
					<a href="javascript:load_editor('feedtype');"   >Feedtypes</a>
					<a href="javascript:load_editor('format');"	 >Formats</a>
					<a href="javascript:load_editor('language');"   >Languages</a>
					<a href="javascript:load_editor('lecturer');"   >Lecturer</a>
					<a href="javascript:load_editor('lms');"		>LMS</a>
					<a href="javascript:load_editor('lms_connect');">LMS-Connect</a>
					<a href="javascript:load_editor('role');"	   >Roles</a>
					<a href="javascript:load_editor('series');"	 >Series</a>
					<a href="javascript:load_editor('terms');"	  >Terms</a>
				</td>
			</tr>
			<tr style="height:50px;">
				<td style="width:352px;" align="center">
					Search:
					<input type="text" 
						   title="search for name of lecturer or series..." 
						   id="searchbox" 
						   style="width:280px;" 
						   onkeyup="trigger_search();" />
				</td>
				<td style="padding: 10px;">
					Tools:
					<button type="button" onclick="serieseditor.create();" >Series-Creator</button>
					<div style="float: right; margin: 5px;">
						<a title="link to virtUOS-wiki..." href="http://zentrum.virtuos.uos.de/virtuos/Medienkompetenz/Fetures-bugsLf">bugs, feedback, ...</a>
					</div>
					<div id="tabs" />
				</td>
			</tr>
			<tr style="height:600px;" id="bottom_container">
				<td valign="top"><div id="navigation" /></td>
				<td valign="top" style="text-align: center;">
					<div id="stage">
						<p>Last updated:</p>
						<iframe src="buildtime.txt" style="border: none;" width="275px" height="35px"></iframe>
					</div>
				</td>
			</tr>
		</table>

		<!-- Select window -->

		<div id="select_window">
			<div id="select_window_caption">Select option:</div>
			<select id="select_window_selector" style="width:29em;"><option></option></select>
			<div style="margin-top: 0.5em; text-align: center;">
				<input type="button" id="select_window_ok" disabled="disabled" onclick="eval(selectwnd_ok_action);" value="ok" />
				<input type="button" onclick="hide_select_window();" value="cancel" />
			</div>
		</div>

	</body>
</html>
