<table style="margin: 20px; padding-bottom: 20px; border-bottom: 1px solid grey;">
    <tr>
        <td>
            Related Mediaobjects:
        </td>
        <td />
    </tr>
    <tr>
        <td>
            <select id="related_object_select" size="4" style="width:400px;" 
                ondblclick="mediaobjecteditor.load($('related_object_select').value)" 
                style="border: 1px solid grey;">
                    (:related_objects:)
            </select>
        </td>
        <td valign="top">
            <input type="button" 
                onclick="mediaobjecteditor.load($('related_object_select').value);" 
                style="width:80px" value="edit" />
            <input type="button" 
                onclick="$('object_id').value = ''; mediaobjecteditor.save();" 
                style="width:80px" value="dublicate" />
            <!--
            <button type="button" 
                onclick="mediaobjecteditor.add(array('cou_id' => (:cou_id:)));" 
                style="width:80px">Neu</button><br />
            <button type="button" 
                onclick="mediaobjecteditor.remove(document.getElementById('related_object_select').value)" 
                style="width:80px">L&ouml;schen</button>
            -->
        </td>
    </tr>
</table>

<form name="fields" id="fields" action="#">
<table>

    <tr>
        <td>
            Object-ID:
        </td>
        <td>
            <input type="text" 
                class="readonly w400" 
                id="object_id" 
                name="object_id" 
                value="(:object_id:)" 
                readonly="true" />
        </td>
    </tr>

    <tr>
        <td>
            Title:
        </td>
        <td>
            <input type="text" 
                class="w400" 
                id="title" 
                name="title" 
                value="(:title:)" 
                onkeypress="$('savebutton').disabled = false;" />
        </td>
    </tr>

    <tr>
        <td>
            Description:
        </td>
        <td>
            <textarea 
                class="w400" 
                rows="3"
                id="description" 
                name="description" 
                onkeypress="$('savebutton').disabled = false;" >(:description:)</textarea>
        </td>
    </tr>

    <tr>
        <td>
            COU-ID:
        </td>
        <td>
            <input type="text" 
                class="w400" 
                id="cou_id" 
                name="cou_id" 
                value="(:cou_id:)" 
                onkeypress="$('savebutton').disabled = false;" />
        </td>
    </tr>

    <tr>
        <td>
            Series:
        </td>
        <td>
            <select type="text" 
                class="w400" 
                id="series_id" 
                name="series_id" 
                onkeypress="$('savebutton').disabled = false;" >
                    (:series_options:)
            </select>
        </td>
    </tr>

    <tr>
        <td>
            Aufzeichnungsdatum:
        </td>
        <td>
            <select name="day" id="day" onchange="$('savebutton').disabled=false;">(:day_options:)</select>.
            <select name="month" id="month" onchange="$('savebutton').disabled=false;">(:month_options:)</select>.
            <select name="year" id="year" onchange="$('savebutton').disabled=false;">(:year_options:)</select>
        </td>
    </tr>

    <tr>
        <td>
            Uhrzeit:
        </td>
        <td>
            <select name="hour" id="hour" onchange="$('savebutton').disabled=false;">(:hour_options:)</select>:
            <select name="minute" id="minute" onchange="$('savebutton').disabled=false;">(:minute_options:)</select>:
            <select name="second" id="second" onchange="$('savebutton').disabled=false;">(:second_options:)</select>
        </td>
    </tr>

    <tr>
        <td>
            LRS-Object-ID:
        </td>
        <td>
            <input type="text" 
                class="w400" 
                id="lrs_object_id" 
                name="lrs_object_id" 
                value="(:lrs_object_id:)" 
                onkeypress="$('savebutton').disabled = false;" />
        </td>
    </tr>

    <tr>
        <td>
            Sprache:
        </td>
        <td>
            <select id="language_id" 
                name="language_id" 
                class="w400" 
                onchange="$('savebutton').disabled = false;">
                    (:language_options:)
            </select>
        </td>
    </tr>

    <tr>
        <td>
            Format:
        </td>
        <td>
            <select id="format_id" 
                name="format_id" 
                class="w400" 
                onchange="$('savebutton').disabled = false;">
                    (:format_options:)
            </select>
        </td>
    </tr>

    <tr>
        <td>
            Access:
        </td>
        <td>
            <select id="access_id" 
                name="access_id" 
                class="w400" 
                onchange="$('savebutton').disabled = false;">
                    (:access_options:)
            </select>
        </td>
    </tr>

    <tr>
        <td>
            URL:
        </td>
        <td>
            <input type="text" 
                class="w400" 
                id="url" 
                name="url" 
                value="(:url:)" 
                onkeypress="$('savebutton').disabled = false;" />
        </td>
    </tr>

    <tr>
        <td>
            Memory-size:
        </td>
        <td>
            <input type="text" 
                class="w400" 
                id="memory_size" 
                name="memory_size" 
                value="(:memory_size:)" 
                onkeypress="$('savebutton').disabled = false;" />
        </td>
    </tr>

    <tr>
        <td>
            Author:
        </td>
        <td>
            <input 
                type="text"
                class="w400" 
                id="author" 
                name="author" 
                value="(:author:)" 
                onkeypress="$('savebutton').disabled = false;" />
        </td>
    </tr>

    <tr>
        <td>
            Thumbnail-URL:
        </td>
        <td>
            <input type="text" 
                class="w400"
                id="thumbnail_url" 
                name="thumbnail_url" 
                value="(:thumbnail_url:)" 
                onkeypress="$('savebutton').disabled = false;" />
        </td>
    </tr>

    <tr>
        <td>
            Preview-URL:
        </td>
        <td>
            <input type="text" 
                class="w400"
                id="preview_url" 
                name="preview_url" 
                value="(:preview_url:)" 
                onkeypress="$('savebutton').disabled = false;" />
        </td>
    </tr>

    <tr>
        <td>
            Image-URL:
        </td>
        <td>
            <input type="text" 
                class="w400"
                id="image_url" 
                name="image_url" 
                value="(:image_url:)" 
                onkeypress="$('savebutton').disabled = false;" />
        </td>
    </tr>

    <tr>
        <td>
            Spielzeit:
        </td>
        <td>
            <input type="text" 
                class="w400"
                id="duration" 
                name="duration" 
                value="(:duration:)" 
                onkeypress="$('savebutton').disabled = false;" />
        </td>
    </tr>

    <tr>
        <td>
            Location:
        </td>
        <td>
            <input type="text" 
                class="w400" 
                id="location"
                name="location" 
                value="(:location:)" 
                onkeypress="$('savebutton').disabled = false;" />
        </td>
    </tr>

    <tr>
        <td>
            Additional URL:
        </td>
        <td>
            <input type="text" 
                class="w400" 
                id="add_url"
                name="add_url" 
                value="(:add_url:)" 
                onkeypress="$('savebutton').disabled = false;" />
        </td>
    </tr>

    <tr>
        <td>
            Additional-URL-text:
        </td>
        <td>
            <input type="text" 
                class="w400" 
                id="add_url_text"
                name="add_url_text" 
                value="(:add_url_text:)" 
                onkeypress="$('savebutton').disabled = false;" />
        </td>
    </tr>

    <tr>
        <td></td>
        <td align="center">
            <input type="hidden" 
                id="old_series_id" 
                name="old_series_id"
                value="(:series_id:)" />
            <input type="button" id="savebutton" disabled="desabled" 
                onclick="mediaobjecteditor.save()" value="save" />
        </td>
    </tr>
    
    <tr>
        <td />
        <td style="text-align: center; padding-bottom: 15px;" id="mediaobject_response" />
    </tr>

    <tr>
        <td />
        <td style="text-align: center; padding-top: 15px; border-top: 1px solid grey;">
            <input type="button" id="deletebutton"
                onclick="mediaobjecteditor.remove((:object_id:), (:series_id:))" value="delete" />
        </td>
    </tr>   
</table>
</form>
