    <tr id="entry_(:object_id:)">
        <td>
            <input type="text" 
                style="width: 40px;"
                id="index_position_(:object_id:)"
                name="index_position"
                value="(:index_position:)" />
            <div class="hidden">(:index_position:)</div>
        </td>
        <td>
            <input type="hidden"
                id="object_id_(:object_id:)"
                name="object_id"
                value="(:object_id:)" />
            <input type="text"
                class="readonly w200" 
                id="object_title_(:object_id:)"
                name="object_title"
                readonly="true"
                disabed="true"
                title="(:object_title:)"
                value="(:object_title:)" />
        </td>
        <td>
            <select type="text" 
                style="width: 100px;"
                id="(access_id_(:object_id:)" 
                name="access_id" 
                onchange="$('saveallbutton').disabled = false;" >
                    (:access_options:)
            </select>
            <div class="hidden">(:access_id:)</div>
        </td>
        <td>
            <input type="text" 
                style="width: 130px; margin-right: 0px;"
                id="start_access_(:object_id:)"
                name="start_access"
                value="(:start_access:)" 
                onchange="$('saveallbutton').disabled = false; checkDateFormat('start_access_(:object_id:)');" />
            <div class="hidden">(:start_access:)</div>
            <input type="button" style="margin-left: 0px;" onclick="show_cal(this, 'start_access_(:object_id:)');" value="..." />
        </td>
        <td>
            <input type="text" 
                style="width: 130px; margin-right: 0px;"
                id="stop_access_(:object_id:)"
                name="stop_access"
                value="(:stop_access:)"
                onchange="$('saveallbutton').disabled = false; checkDateFormat('stop_access_(:object_id:)');" />
            <div class="hidden">(:stop_access:)</div>
            <input type="button" style="margin-left: 0px;" onclick="show_cal(this, 'stop_access_(:object_id:)');" value="..." />
        </td>
        <td>
            <input type="button" value="del"
            onclick="playlisteditor.delete_entry((:playlist_id:), (:object_id:))" />
        </td>
    </tr>



