<div style="border:1px solid silver;">
    <table border="0" style="width:100%;">
        <tr>
            <td><a href="javascript:serieseditor.load('(:result_id:)'); trigger_result((:result_id:));" title="(:name:)">(:short_name:)</a></td>
            <td align="right" valign="top" style="width:100px;">(:term:)</td>
        </tr>
        <tr id="info_(:result_id:)" style="display:none;">
            <td colspan="2">
                _..._
            </td>
        </tr>
    </table>
</div>


