
<div id="uploadform" style="width: 300px; height: 100px; position: fixed; top: 50%; margin-top: -50px; margin-left: auto; margin-right: auto; background-color: #fff; text-align: right; border: 1px solid black; display: none;">
	<a onclick="document.getElementById('uploadform').style.display = 'none'">X</a>
	<iframe style="width: 100%; height: 80px; border: none;" src="php/upload.php?field=thumbnail_url&id=series_(:series_id:)"></iframe>
</div>

<form action="#" id="fields">
	<table>

		<tr>
			<td>ID:</td>
			<td>
				<input type="text"
				class="readonly w400"
				name="series_id" 
				id="series_id" 
				value="(:series_id:)"
				readonly="true"
				onkeypress="$('#savebutton').disabled=false;" />
			</td>
		</tr>

		<tr>
			<td>Name:</td>
			<td>
				<input type="text" 
				class="w400"
				name="name" 
				id="name" 
				value="(:name:)" 
				onkeypress="$('#savebutton').disabled=false;" />
			</td>
		</tr>

		<tr>
			<td>Beschreibung:</td>
			<td>
				<textarea id="description" 
					class="w400"
					name="description" 
					rows="5" 
					onkeypress="$('#savebutton').disabled=false;" />(:description:)</textarea>
			</td>
		</tr>

		<tr>
			<td>Kurzbeschreibung:</td>
			<td>
				<textarea id="description_sh" name="description_sh" cols="46" rows="3" 
					onkeypress="$('#savebutton').disabled=false;" 
					style="width:400px;">(:description_sh:)</textarea>
			</td>
		</tr>

		<tr>
			<td>Semester:</td>
			<td>
				<select name="term_id" id="term_id" 
					onchange="$('#savebutton').disabled=false;" 
					style="width:400px;">(:term_options:)</select>
			</td>
		</tr>

		<tr>
			<td>Kurs ID:</td>
			<td>
				<input type="text" name="course_id" id="course_id" 
				value="(:course_id:)" onkeypress="$('#savebutton').disabled=false;" 
				style="width:400px;">
			</td>
		</tr>

		<tr>
			<td>Zugriff:</td>
			<td>
				<select name="access_id" id="access_id" onchange="$('#savebutton').disabled=false;" style="width:400px;">(:access_options:)</select>
			</td>
		</tr>

		<tr>
			<td>Portal URL:</td>
			<td>
				<input type="text" name="portal_url" id="portal_url" value="(:portal_url:)" onkeypress="$('#savebutton').disabled=false;" style="width:400px;">
			</td>
		</tr>

		<tr>
			<td>Klassifikation:</td>
			<td>
				<select name="clas_id" id="clas_id" onchange="$('#savebutton').disabled=false;" style="width:400px;">(:clas_options:)</select>
			</td>
		</tr>

		<tr>
			<td>Preview URL:</td>
			<td>
				<input type="text" name="thumbnail_url" id="thumbnail_url" class="w300" 
				value="(:thumbnail_url:)" onkeypress="$('#savebutton').disabled=false;">
				<button id="uploadbtn" type="button" class="w100" 
					onclick="document.getElementById('uploadform').style.display = 'block';">upload file</button>
			</td>
		</tr>

		<tr>
			<td>LMS Kurs ID:</td>
			<td>
				<input type="text" name="lms_course_id" id="lms_course_id" value="(:lms_course_id:)" onkeypress="$('#savebutton').disabled=false;" style="width:400px;">
			</td>
		</tr>

		<tr>
			<td>Add. URL:</td>
			<td>
				<input type="text" name="add_url" id="add_url" value="(:add_url:)" 
				onkeypress="$('#savebutton').disabled=false;" style="width:400px;">
			</td>
		</tr>

		<tr>
			<td>Add. URL Text:</td>
			<td>
				<input type="text" name="add_url_text" id="add_url_text" 
				value="(:portal_url:)" onkeypress="$('#savebutton').disabled=false;" 
				style="width:400px;">
			</td>
		</tr>

		<tr>
			<td>LRS Series ID:</td>
			<td>
				<input type="text" name="lrs_series_id" id="lrs_series_id" 
				value="(:lrs_series_id:)" onkeypress="$('#savebutton').disabled=false;" 
				style="width:400px;">
			</td>
		</tr>

		<tr>
			<td>Social Web:</td>
			<td>
				<input type="text" name="social_web" id="social_web" 
				value="(:social_web:)" onkeypress="$('#savebutton').disabled=false;" 
				style="width:400px;">
			</td>
		</tr>

		<tr>
			<td>Keywords:</td>
			<td>
				<input type="text" name="keywords" id="keywords" 
				value="(:keywords:)" onkeypress="$('#savebutton').disabled=false;" 
				style="width:400px;">
			</td>
		</tr>

		<tr>
			<td>Kategorie:</td>
			<td>
				<select name="cat_id" id="cat_id" 
					onchange="$('#savebutton').disabled=false;" 
					style="width:400px;">(:cat_options:)</select>
			</td>
		</tr>

		<tr>
			<td>Default Playlist:</td>
			<td>
				<select name="default_playlist_id" id="default_playlist_id" 
					onchange="$('#savebutton').disabled=false;" 
					style="width:400px;">(:defaultplaylist_options:)</select>
			</td>
		</tr>

		<tr>
			<td colspan="2" align="center">
				<input type="button" id="savebutton" disabled="disabled" 
				onclick="serieseditor.save();" value="save series" />
			</td>
		</tr>

	</table>
</form>

<hr>

<table>
	<tr><td colspan="2"><b>Lecturer</b></td></tr>
	<tr>
		<td>
			<select id="lecturers" size="3" class="w400">(:lecturer_options:)</select>
		</td>
		<td valign="top">
			<input type="button" 
			onclick="show_select_window('lecturer', 'Select a lecturer:', 'serieseditor.add_lecturer');"
			style="width:80px;" value="add" /><br />
			<input type="button" onclick="serieseditor.remove_lecturer($('#lecturers').value);" style="width:80px;" value="delete" />
		</td>
	</tr>
</table>

