<h2>Series-Creator</h2>

<form action="#" id="fields">
<table style="margin-left: auto; margin-right: auto;">

    <tr>
        <td>Name:</td>
        <td>
            <input type="text" 
                class="w400"
                name="name" 
                id="name" 
                value="" 
                onkeypress="$('#savebutton').disabled=false;" />
        </td>
    </tr>

    <tr>
        <td>Beschreibung:</td>
        <td>
            <textarea id="description" 
                class="w400"
                name="description" 
                rows="5" 
                onkeypress="$('#savebutton').disabled=false;" /></textarea>
        </td>
    </tr>

    <tr>
        <td>Kurzbeschreibung:</td>
        <td>
            <textarea id="description_sh" 
                name="description_sh" 
                cols="46" 
                rows="3" 
                onkeypress="$('#savebutton').disabled=false;" 
                style="width:400px;"></textarea>
        </td>
    </tr>

    <tr>
        <td>Semester:</td>
        <td>
            <select name="term_id" id="term_id" onchange="$('#savebutton').disabled=false;" style="width:400px;">(:term_options:)</select>
        </td>
    </tr>

    <tr>
        <td>Kurs ID:</td>
        <td>
            <input type="text" name="course_id" id="course_id" value="" onkeypress="$('#savebutton').disabled=false;" style="width:400px;">
        </td>
    </tr>

    <tr>
        <td>Zugriff:</td>
        <td>
            <select name="access_id" id="access_id" onchange="$('#savebutton').disabled=false;" style="width:400px;">(:access_options:)</select>
        </td>
    </tr>

    <tr>
        <td>Portal URL:</td>
        <td>
            <input type="text" name="portal_url" id="portal_url" value="" onkeypress="$('#savebutton').disabled=false;" style="width:400px;">
        </td>
    </tr>

    <tr>
        <td>Klassifikation:</td>
        <td>
            <select name="clas_id" id="clas_id" onchange="$('#savebutton').disabled=false;" style="width:400px;">(:clas_options:)</select>
        </td>
    </tr>

    <tr>
        <td>Preview URL:</td>
        <td>
            <input type="text" name="thumbnail_url" id="thumbnail_url" value="" onkeypress="$('#savebutton').disabled=false;" style="width:400px;">
        </td>
    </tr>

    <tr>
        <td>LMS Kurs ID:</td>
        <td>
            <input type="text" name="lms_course_id" id="lms_course_id" value="" onkeypress="$('#savebutton').disabled=false;" style="width:400px;">
        </td>
    </tr>

    <tr>
        <td>Add. URL:</td>
        <td>
            <input type="text" name="add_url" id="add_url" value="" onkeypress="$('#savebutton').disabled=false;" style="width:400px;">
        </td>
    </tr>

    <tr>
        <td>Add. URL Text:</td>
        <td>
            <input type="text" name="add_url_text" id="add_url_text" value="" onkeypress="$('#savebutton').disabled=false;" style="width:400px;">
        </td>
    </tr>

    <tr>
        <td>LRS Series ID:</td>
        <td>
            <input type="text" name="lrs_series_id" id="lrs_series_id" value="" onkeypress="$('#savebutton').disabled=false;" style="width:400px;">
        </td>
    </tr>

    <tr>
        <td>Social Web:</td>
        <td>
            <input type="text" name="social_web" id="social_web" value="" onkeypress="$('#savebutton').disabled=false;" style="width:400px;">
        </td>
    </tr>

    <tr>
        <td>Keywords:</td>
        <td>
            <input type="text" name="keywords" id="keywords" value="" onkeypress="$('#savebutton').disabled=false;" style="width:400px;">
        </td>
    </tr>

    <tr>
        <td>Kategorie:</td>
        <td>
            <select name="cat_id" id="cat_id" onchange="$('#savebutton').disabled=false;" style="width:400px;">(:cat_options:)</select>
        </td>
    </tr>

    <tr>
        <td>Lecturer</td>
        <td>
            <select id="lecturers" name="lecturer" size="3" class="w400" multiple="multiple"
                title="hold ctrl to select/unselect multiple lecturer">(:lecturer_options:)</select>
        </td>
    </tr>
</table>

<h3>Mediaobjects</h3>
<table style="margin-left: auto; margin-right: auto; max-width: 80%;">
    <tr>
        <td style="border-bottom: 1px solid gray; min-width: 500px;">
            <button type="button" onclick="serieseditor.getLastRecordings($('#mediaobject_count').value, false);" >Last recordings</button>
            <button type="button" onclick="serieseditor.getLastRecordings($('#mediaobject_count').value, true);" >Last recordings without series</button>
            Count: 
            <select id="mediaobject_count">
                <option>10</option>
                <option>15</option>
                <option>20</option>
                <option>25</option>
                <option>30</option>
            </select>
        </td>
    </tr>
    <tr>
        <td style="border-bottom: 1px solid gray;" id="mediaobjectselector">
        </td>
    </tr>
</table>

<div style="text-align: center; margin: 5px;">
    <button type="button" onclick="serieseditor.save_new()">create new series</button>
</div>

<p>&nbsp;</p>

</form>
