body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

div#topbar {
	width: 100%;
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;
}

img#tophr {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

div {
	padding: 0px;
}

div#header {
	width: 100%;
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
}

div#logobox {
	width: 250px;
	height: 60px;
	float: left;
	margin-left: 15px;
}

div#titlebox {
	background-color: #73bdaf;
	color: #ffffff;
	margin-left: 295px;
	/* margin-right: 245px; */
	margin-right: 40px;
	height: 80px;
	padding: 0px;
}

h1#pagetitle {
	padding: 15px;
	padding-top: 10px;
	padding-bottom: 0px;
	height: 40px;
}

h1 {
	font-variant: small-caps;
	font-family: Helvetica;
	font-weight: bold;
	font-size: large;
	letter-spacing: 0.1em;
	margin: 0px;
	padding: 0px;
}

h2 {
	font-variant: small-caps;
	font-family: Helvetica;
	font-weight: bold;
	font-size: medium;
	letter-spacing: 0.1em;
	margin: 0px;
	padding: 0px;
}

h3 {
	background-color: #ccddcc;
	color: #000000;
	padding: 5px 5px 5px 25px;
}

h3 a {
	color: #000000;
}

a:hover {
	color: #666666;
}

div.objcontainer {
	padding-left: 25px;
	padding-right: 25px;
}

img {
	border: none;
}

div#footer {
	width: 100%;
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	background-color: #353736;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 110px;
	margin-top: 30px;
}

div#addrblock {
	margin-top: 10px;
	font-size: smaller;
	padding-left: 15px;
	display: inline-block;
	width: 280px;
	line-height: 115%;
}

div#bottomlinkblock {
	margin-top: 10px;
	font-size: smaller;
	padding-left: 15px;
	display: inline-block;
}

a.bottomlink {
	color: #73bdaf;
}

div#bottomlogoblock {
	float: right;
	width: 170px;
	margin-right: 30px;
}

a {
	text-decoration: none;
	border: none;
}


div#main {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

div#leftblock {
	width: 260px;
	float: left;
	margin-left: 15px;
}


div.pager {
	margin-top: 25px;
	background-color: #73bdaf;
	padding: 15px;
	text-align: center;
	font-size: smaller;
	font-weight: bold;
	/* will be removed by javascript later: */
	display: none;
}

div#toppager {
	background-color: #ffffff;
	margin-top: 5px;
}

div.pagelink_active {
	background-color: #ddeedd !important;
}

div.pagelink {
	display: inline;
	border: 1px solid #eeeeee;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}

div.pagelink:hover {
	display: inline;
	background-color: #eeeeee;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

div.pagedots {
	display: inline-block;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

div#content {
	font-size: smaller;
}

div#contentbox {
	margin-left: 310px;
	/* margin-right: 270px; */
	margin-right: 40px;
}

div#rightblock {
	float: right;
	margin-right: 30px;
	font-size: smaller;
	text-align: center;
	max-width: 245px;
}

div#main {
	font-family: Veranda;
}

input {
	border: 1px solid grey;
	height: 20px;
	padding: 0px;
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: x-small;
}

input#search {
	width: 175px;
	margin-top: 10px;
}

input#search_submit {
	height: 22px;
	margin-top: 5px;
}

input#department_search {
	margin-top: 5px;
	width: 150px;
	float:left;
}

div#department_selection {
	font-size: small;
	line-height: 180%;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey;
	position: absolute;
	z-index: 99;
	display: none;
	cursor: default;
	min-width: 186px;
}

/*
div#submenu {
	position: absolute;
	z-index: 99;
	display: none;
}

div.submenu_item:hover {
	background-color: #cccccc;
}

div.submenu_item {
	font-size: smaller;
	background-color: #ffffff;
	padding: 5px;
	border-left: 1px solid #666666;
}
*/

div.select {
	padding-left: 5px;
	padding-right: 5px;
	background-color: #ffffff;
}

div.select:hover {
	background-color: #73bdaf;
	color: #ffffff;
}

div.select_category {
	padding-left: 10px;
	padding-right: 5px;
	background-color: #cccccc;
}

#trigger_dep_select_btn {
	height: 22px;
	border-left: none;
	margin-top: 5px;
	width: 25px;
}

div#leftlinkblock {
	margin-top: 10px;
	font-size: smaller;
	padding-left: 15px;
	display: inline-block;
	line-height: 150%;
}

div.virtuos_name {
	font-weight: bold;
	font-family: Helvetica;
}

a.leftlink:hover {
	background-color: #eeeeee;
}

a.leftlink {
	color: #4c3b81;
}

div#searchcatblock {
	margin-top: 15px;
}

div#main {
	min-height: 450px;
}

div.category:hover {
	background-color: #87D5C8;
}

div.category {
	margin-bottom: 2px;
	background-color: #73bdaf;
	padding: 7px;
	cursor: pointer;
}

div.sub {
	margin-left: 10px;
	padding: 3px;
	padding-left: 7px;
	font-size: smaller;
	display: none;
}

div#rightview_filter {
	text-align: left;
	padding-top: 10px;
	padding-left: 15px;
}

div.filter_select {
	cursor: pointer;
	padding: 3px;
	display: block;
}

div.series_update {
	padding: 15px;
}

div.new_recording {
	padding: 15px;
	text-align: center;
}

div.filter_select:hover {
	background-color: #dddddd;
	text-decoration: underline;
}

div.object_count {
	float: right;
	font-size: smaller;
}

div.rightbox_tab {
	display: inline-block;
	height: 15px;
	padding: 7px;
	margin: 0px;
	margin-left: 5px;
	font-size: smaller;
	background-color: #ccddcc;
	color: #333333;
	cursor: pointer;
	border-radius: 5px;
}

div.rightbox_tab:hover {
	background-color: #bbbbbb;
}

div.rightbox_tab_active {
	background-color: #aabbaa !important;
	color: #000000 !important;
}

div#rightview_content {
	display: none;
	width: 210px;
}

div.titlebox_tab {
	display: inline-block;
	height: 15px;
	padding: 7px;
	margin: 0px;
	margin-left: 5px;
	font-size: smaller;
	background-color: #999999;
	color: #ffffff;
	cursor: pointer;
}

div.titlebox_tab_active {
	background-color: #ffffff !important;
	color: #999999 !important;
}

h4 {
	padding: 2px;
	margin: 0px;
	font-weight: bold;
}

div.infoblock {
	padding-left: 35px;
	margin-bottom: 5px;
}

div.tbl {
	display: table;
	width: 100%;
}

div.tr {
	display: table-row;
	width: 100%;
}

div.td {
	display: table-cell;
	padding: 10px;
}

img.thumb {
	max-height: 175px;
	max-width: 175px;
}

th {
	background-color: #dddddd;
	padding: 5px;
}

td {
	padding: 3px;
}

tr:hover {
	background-color: #eeeeee;
}

tr.link {
	cursor: pointer;
}
