* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        font-family: sans-serif;
}

.resultfilter_series {
        background-color: #FF934A !important;
}

.resultfilter_recordings {
        background-color: #E36C58 !important;
}

.resultfilter_lecturer {
        background-color: #C95A34 !important;
}

.resultfilter_podcast {
        background-color: #8C5663 !important;
}


body {
        margin: 0px;
        padding: 0px;
        font-family: sans-serif;
        background-color: #FFFfff;
}

div#topbar {
        width: 100%;
        margin: 0px;
        padding: 0px;
        margin-bottom: 15px;
}

img#tophr {
        width: 100%;
        margin: 0px;
        padding: 0px;
}

div {
        padding: 0px;
}

div#header {
        width: 100%;
        margin: 0px;
        padding: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
}

div#logobox {
        width: 250px;
        height: 60px;
        float: left;
        margin-left: 15px;
        margin-top: 10px;
}

#logobox p {
        color: #3E424A;
        font-size: 14px;
        width: 250px;
        text-align: center;
}

div#titlebox {
        background-color: #3E424A;
        color: #ffffff;
        margin-left: 295px;
        /* margin-right: 245px; */
        margin-right: 40px;
        height: 80px;
        padding: 0px;
}

#hakengr {
        float: right;
        height: 95px;
        width: 40px;
        margin-top: -15px;
}

.hakengr_default {
        background: url("../img/hakengr.png") no-repeat;
}

.hakengr_series {
        background: url("../img/hakengr1.png") no-repeat;
}

.hakengr_recordings {
        background: url("../img/hakengr2.png") no-repeat;
}

.hakengr_lecturer {
        background: url("../img/hakengr3.png") no-repeat;
}

.hakengr_podcast {
        background: url("../img/hakengr4.png") no-repeat;
}


h1#pagetitle {
        padding: 15px;
        padding-top: 10px;
        padding-bottom: 0px;
        height: 40px;
}

h1 {
        font-variant: small-caps;
        font-family: Helvetica;
        font-weight: bold;
        font-size: large;
        letter-spacing: 0.1em;
        margin: 0px;
        padding: 0px;
}

h2 {
        font-variant: small-caps;
        font-family: Helvetica;
        font-weight: bold;
        font-size: medium;
        letter-spacing: 0.1em;
        margin: 0px;
        padding: 0px;
}

h3 {
        background-color: #3E424A;
        color: #fff;
        padding: 5px 5px 5px 25px;
        margin-top: 10px;
}

h3 a {
        color: #fff;
}

a h3:hover {
        background-color: #992c47;
        cursor: pointer;
}

a {
        text-decoration: none;
        border: none;
        color: #992c47;
}

a:hover {
        background-color: #992c47;
        color: white;
}

a.nohover:hover {
        background-color: transparent;
}

div.objcontainer {
        padding-left: 25px;
}

img {
        border: none;
}

div#footer {
        width: 100%;
        margin: 0px;
        padding: 0px;
        color: #ffffff;
        background-color: #3E424A;
        padding-top: 15px;
        padding-bottom: 15px;
        height: 110px;
        margin-top: 30px;
}

img.logo_footer {
        max-width: 150px;
}

div#addrblock {
        margin-top: 10px;
        font-size: smaller;
        padding-left: 15px;
        display: inline-block;
        width: 280px;
        line-height: 115%;
}

div#bottomlinkblock {
        margin-top: 10px;
        font-size: smaller;
        padding-left: 15px;
        display: inline-block;
}

a.bottomlink {
        color: #FF934A;
}

div#bottomlogoblock {
        float: right;
        width: 170px;
        margin-right: 30px;
}




div#main {
        width: 100%;
        margin: 0px;
        padding: 0px;
}

div#leftblock {
        width: 250px;
        float: left;
}


div.pager {
        margin-top: 25px;
        padding: 15px;
        text-align: center;
        font-size: smaller;
        font-weight: bold;
        /* will be removed by javascript later: */
        display: none;
}

div#toppager {
        margin-top: 5px;
}

div.pagelink_active {
        background-color: #FFDFC5 !important;
}

div.pagelink {
        display: inline;
        border: 1px solid #aaaaaa;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
}

div.pagelink:hover {
        display: inline;
        background-color: #eeeeee;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
}

div.pagedots {
        display: inline-block;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
}

div#content {
        font-size: smaller;
}

div#contentbox {
        margin-left: 310px;
        /* margin-right: 270px; */
        margin-right: 40px;
}

div#rightblock {
        float: right;
        margin-right: 30px;
        font-size: smaller;
        text-align: center;
        max-width: 245px;
}

div#main {
        font-family: Veranda;
}

input {

        height: 20px;
        padding: 0px;
        margin: 0px;
        padding-left: 5px;
        font-size: x-small;
}

div#searchline {
        width: 100%;
        padding-left: 15px;
}

input#search {
        width: 85%;
        margin-top: 10px;
        border: 1px solid grey;
}

div.clearbutton {
        position:absolute;
        width: 20px;
        height:20px;
        background: url("../img/clearbutton.png") no-repeat;
        margin-top:-21px;
        margin-left:199px;
}

input#searchbutton {
        background: url("../img/lupe.png") no-repeat;
        width: 20px;
        height: 20px;
        border: none;
        margin-left: 5px;
        cursor: pointer;
}

input#searchbutton:active {
        background: url("../img/lupe.png") no-repeat #eeeeee;
        border: 1px solid black;
}

input#department_search {
        margin-top: 5px;
        width: 150px;
        float:left;
}

div#department_selection {
        font-size: small;
        line-height: 180%;
        border-left: 1px solid grey;
        border-bottom: 1px solid grey;
        position: absolute;
        z-index: 99;
        display: none;
        cursor: default;
        min-width: 186px;
}

/*
div#submenu {
        position: absolute;
        z-index: 99;
        display: none;
}

div.submenu_item:hover {
        background-color: #cccccc;
}

div.submenu_item {
        font-size: smaller;
        background-color: #ffffff;
        padding: 5px;
        border-left: 1px solid #666666;
}
*/

div.select {
        padding-left: 5px;
        padding-right: 5px;
        background-color: #ffffff;
}

div.select:hover {
        background-color: #73bdaf;
        color: #ffffff;
}

div.select_category {
        padding-left: 10px;
        padding-right: 5px;
        background-color: #cccccc;
}

#trigger_dep_select_btn {
        height: 22px;
        border-left: none;
        margin-top: 5px;
        width: 25px;
}

div#leftlinkblock {
        margin-top: 10px;
        font-size: smaller;
        padding-left: 15px;
        display: inline-block;
        line-height: 150%;
}

div.virtuos_name {
        font-weight: bold;
        font-family: Helvetica;
}

a.leftlink:hover {
        background-color: #eeeeee;
}

a.leftlink {
        color: #4c3b81;
}

div#searchcatblock {
        margin-top: 15px;
        width: 250px;
        padding-left: 15px;
}

div#main {
        min-height: 550px;
}

div.category {
        font-family: Arial, sans-serif;
        color: white;
        margin-bottom: 2px;
        padding: 8px;
        cursor: pointer;
}

div.haken1 {
        background: url("../img/haken1.png") no-repeat;
        width: 15px;
        height: 46px;
        float:left;
        margin-left: -15px;
        margin-top: -11px;
}

div.haken2 {
        background: url("../img/haken2.png") no-repeat;
        width: 15px;
        height: 46px;
        float:left;
        position: absolute;
        margin-left: -15px;
        margin-top: -11px;
}

div.haken3 {
        background: url("../img/haken3.png") no-repeat;
        width: 15px;
        height: 46px;
        float:left;
        position: absolute;
        margin-left: -15px;
        margin-top: -11px;
}

div.haken4 {
        background: url("../img/haken4.png") no-repeat;
        width: 15px;
        height: 46px;
        float:left;
        position: absolute;
        margin-left: -15px;
        margin-top: -11px;
}

div.cat1:hover {
        background-color: #FFb56c;
}

div.cat2:hover {
        background-color: #f58e7a;
}

div.cat3:hover {
        background-color: #eb7c56;
}

div.cat4:hover {
        background-color: #ae7885;
}



div.cat1 {
        background-color: #FF934A;
}

div.cat2 {
        background-color: #E36C58;
}

div.cat3 {
        background-color: #C95A34;
}

div.cat4 {
        background-color: #8C5663;
}

div.sub {
        margin-left: 10px;
        padding: 3px;
        padding-left: 7px;
        font-size: smaller;
        display: none;
}

div#rightview_filter {
        text-align: left;
        padding-top: 10px;
        padding-left: 15px;
}

div.filter_select {
        cursor: pointer;
        padding: 3px;
        display: block;
}

div.series_update {
        padding: 15px;
        border-bottom: 1px solid #999999;
}

div.series_update:hover {
        background-color: #dddddd;
        padding: 15px;
}

div.new_recording {
        padding: 15px;
        text-align: center;
}

div.filter_select:hover {
        background-color: #dddddd;
        text-decoration: underline;
}

div.object_count {
        float: right;
        font-size: 0.7em;
        padding-top: 6px;
}

div.rightbox_tab {
        display: inline-block;
        height: 15px;
        padding: 7px;
        margin: 0px;
        margin-left: 5px;
        font-size: smaller;
        background-color: #ccddcc;
        color: #333333;
        cursor: pointer;
        border-radius: 5px;
}

div.rightbox_tab:hover {
        background-color: #bbbbbb;
}

div.rightbox_tab_active {
        background-color: #aabbaa !important;
        color: #000000 !important;
}

div#rightview_content {
        display: none;
        width: 210px;
}

div.titlebox_tab {
        display: inline-block;
        height: 15px;
        padding: 7px;
        margin: 0px;
        margin-left: 5px;
        font-size: smaller;
        background: url("../img/titlebox.png");
        color: #ffffff;
        cursor: pointer;
}

div.titlebox_tab_active {
        background: url("../img/titlebox_active.png");
        color: #111111 !important;
}

h4 {
        padding: 2px;
        margin: 0px;
        font-weight: bold;
}

.infoblock {
}

div.tbl {
        display: table;
        width: 100%;
}

div.tr {
        display: table-row;
        width: 100%;
}

div.td {
        display: table-cell;
        padding: 10px;
}

div.td p {
        padding: 15px 0px;
}

img.thumb {
        max-height: 100px;
        max-width: 113px;
        float: right;
}

th {
        background-color: #cccccc;
        padding: 5px;
}

td {
        padding: 3px;
}

.onover_graybg {
        background-color: #eeeeee;
}

.onover_graybg:hover {
        background-color:#FFb56c ;
        cursor: pointer;
}

tr.link:hover {
        cursor: pointer;
        background-color: #dddddd;
}

.dozenten {
        font-style: italic;
}
